<div class="card col mb-3">
  <div class="card-body" (click)="cardClick()">
    <h5 class="card-title">{{title}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{subTitle}}</h6>
    <p class="card-text">{{description}}</p>
    <a href="#" class="card-link">{{link1}}</a>
    <a href="#" class="card-link">{{link2}}</a>
  </div>
</div>