<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link" href="#" routerLink="/welcome">Welcome</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#" routerLink="/about">About</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" *isLoggedIn="true" href="#" routerLink="/admin">Admin</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" *isLoggedIn="false" href="#" routerLink="/login">Login</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" *isLoggedIn="true" href="#" routerLink="/posts">Posts</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" *isLoggedIn="true" href="#" (click)="logout()">Logout ({{user.email | alternativecase }})</a>
  </li>
</ul>