<app-card #card1 id="card-1" title="Titolo 1" subTitle="Titolo 2"
description="Descrizione 1" link1="https://www.google.it" 
link2="https://www.univaq.it"></app-card>

<app-card id="card-2" title="Titolo 1" subTitle="Titolo 2" description="Descrizione 1" link1="https://www.google.it" link2="https://www.univaq.it"></app-card>

<app-card id="card-3" title="Titolo 1" subTitle="Titolo 2" description="Descrizione 1" link1="https://www.google.it" link2="https://www.univaq.it"></app-card>

<app-card id="card-4" title="Titolo 1" subTitle="Titolo 2" description="Descrizione 1" link1="https://www.google.it" link2="https://www.univaq.it"></app-card>

<app-card id="card-5" title="Titolo 1" subTitle="Titolo 2" description="Descrizione 1" link1="https://www.google.it" link2="https://www.univaq.it"></app-card>