<div class="row">
  <button type="button" class="btn btn-primary" (click)="insertPost()">New Post</button>
</div>
<div class="row">
  <div class="col mt-5" *ngFor="let post of posts">
    <app-post [title]="post.title" [body]="post.body"></app-post>
  </div>
</div>