<div class="row justify-content-center text-center">
  <div class="col-4 jumbotron jumbotron-fluid bg-danger text-white rounded">
    <div class="container">
      <h1 class="display-4">{{code}}</h1>
      <p class="lead">{{message}}</p>
      <button type="button" class="btn btn-light" (click)="backToHome()">Back to Home</button>
    </div>
  </div>
</div>