<div class="row justify-content-center">
  <form [formGroup]="loginForm" class="col-4 form-signin" (submit)="submit()">
    <h1 class="h3 mb-3 font-weight-normal">Please Login</h1>
    <div class="form-group">
      <label for="inputEmail" class="sr-only">Email Address</label>
      <input formControlName="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
      <div *ngIf="loginForm.controls.email.dirty && loginForm.controls.email.errors" class="mt-3 alert alert-warning" role="alert">
        <div *ngIf="loginForm.controls.email.errors.required">Email is required</div>
        <div *ngIf="loginForm.controls.email.errors.email">Invalid Email</div>
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword" class="sr-only">Password</label>
      <input formControlName="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
      <div *ngIf="loginForm.controls.password.dirty && loginForm.controls.password.errors" class="mt-3 alert alert-warning" role="alert">
        <div *ngIf="loginForm.controls.password.errors.required">Password is required</div>
      </div>
    </div>
    <button class="btn btn-lg btn-primary btn-block"  type="submit">Sign in</button>
    <button class="btn btn-lg btn-warning btn-block" (click)="reset($event)">Reset</button>
  </form>
</div>

<div *ngIf="loginFailed" class="row justify-content-center">
    <div class="mt-3 alert alert-danger" role="alert">
      Loing failed....
    </div>
</div>

<!-- [disabled]="!this.loginForm.valid" -->