<div>
  <p *ngIf="env.production">
    ENVIRONMENT DI PRODUZIONE (environment.prod.ts)
  </p>
  <p *ngIf="!env.production && !env.test">
    ENVIRONMENT DI SVILUPPO (environment.ts)
  </p>
  <p *ngIf="env.test">
    ENVIRONMENT DI TEST (environment.test.ts)
  </p>
</div>
<div class="container">
  <app-header></app-header>
</div>

<div class="container mt-5">
  <router-outlet></router-outlet>
</div>

<app-footer></app-footer>